[submodule "external/PLEX"]
	path = external/PLEX
	url = https://github.com/stoianmihail/PLEX.git
[submodule "external/PGM-index"]
	path = external/PGM-index
	url = https://github.com/gvinciguerra/PGM-index.git
[submodule "external/m-tree"]
	path = external/m-tree
	url = https://github.com/dbrumbaugh/M-Tree.git
[submodule "external/alex"]
	path = external/alex
	url = https://github.com/microsoft/ALEX.git
[submodule "external/psudb-common"]
	path = external/psudb-common
	url = https://github.com/psu-db/psudb-common.git
[submodule "external/ctpl"]
	path = external/ctpl
	url = https://github.com/vit-vit/CTPL.git
[submodule "external/louds-fst"]
	path = external/louds-fst
	url = https://github.com/kampersanda/fast_succinct_trie.git
[submodule "external/fast_succinct_trie"]
	path = external/fast_succinct_trie
	url = https://github.com/dbrumbaugh/fast_succinct_trie.git
[submodule "external/poplar-trie"]
	path = external/poplar-trie
	url = https://github.com/kampersanda/poplar-trie.git
[submodule "external/hat-trie"]
	path = external/hat-trie
	url = https://github.com/Tessil/hat-trie.git
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
[submodule "external/stduuid"]
	path = external/stduuid
	url = https://github.com/mariusbancila/stduuid.git
